{{#if (not-eq model.project.haveStoriesWithNoStep.length 0)}}
<div class="ui top attached secondary segment">Unreferenced story</div>
<div class="ui attached segment">
    <div class="ui middle aligned grid">
        {{#each model.project.haveStoriesWithNoStep as |story|}}
        <div class="two column row">
            <div class="ui column">
                <h4 class="ui header">
                    <i class="folder icon big" />
                    <div class="content">
                        {{story.code}}
                        <div class="sub header">
                            {{story.description}}
                            {{#each story.tags as |tag|}}
                            <a class="ui {{tag.color}} label">{{tag.title}}</a>
                            {{/each}}
                        </div>
                    </div>
                </h4>
            </div>
            <div class="right floated right aligned column">
                <div class="ui left labeled button">
                    <div class="ui basic right pointing label">
                        {{story.developer.fullName}}
                    </div>
                    <div class="ui button" {{action "affectF" model story}}>
                        <i class="folder open icon" /> Open
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<br>
{{/if}}
<br>
<div class="ui equal width grid">
    {{#each model.project.stepsOrdered as |step|}}
    <div class="column myStep">
        <div class="ui top attached raised secondary segment">
            <div class="ui aligned grid">
                <div class="left floated left aligned eight wide column">
                    {{step.title}}
                </div>
                <div class="right floated right aligned eight wide column">
                    <i class="chevron circle left icon large" {{action "minusStep" model step}} />
                    <i class="chevron circle right icon large" {{action "plusStep" model step}} />
                </div>
            </div>
        </div>
        {{#draggable-dropzone content=step dropped="addToStep" class="column"}}
        <div class="ui attached raised segment">
            {{#each model.project.stories as |story|}}
            {{#if (eq story.step.id step.id)}}
            {{#draggable-item class="ui segment" activeClass="secondary" content=story onClick="activate"}}
            {{story.code}}<br>{{if story.activated 'green' 'red'}}
            {{/draggable-item}}
            {{/if}}
            {{/each}}
        </div>
        {{/draggable-dropzone}}
    </div>

    {{/each}}
    <div class="column centered addStep">
        <div class="ui top attached secondary selected segment">
            <div class="ui form">
                <Input type="text" class="ui fluid input" placeholder="Step Title" @value={{model.stepTitle}} />
            </div>
        </div>
        <div class="ui attached placeholder segment" {{action 'addStep' model}}>
            <div class="ui icon header">
                <i class="ui plus icon" />
                Add Step
            </div>
        </div>
    </div>
</div>
{{outlet}}