<div class="inline" style="width: fit-content;">
  <div class="myStep">
    <div class="ui top attached tertiary segment inverted">
      Unreferenced story
    </div>
    {{#draggable-dropzone content=step dropped="addToStep" class="column"}}
      <div
        class="ui attached raised segment secondary inverted myScrollableY"
        style="height: 82.5vh !important;"
      >
        {{#each model.project.haveStoriesWithNoStep as |story|}}
          {{#draggable-item
            class="ui inverted card selectable"
            activeClass="bgSelected"
            content=story
            onClick="activate"
            onDblClick="open"
          }}
            <div class="content">
              {{#if story.developer}}
                <img
                  class="right floated mini ui image"
                  src="/assets/images/avatars/{{story.developer.avatar}}.jpg"
                />
              {{else}}
                <img
                  class="right floated mini ui image"
                  src="/assets/images/avatars/unknow.jpg"
                />
              {{/if}}
              <div class="header">
                {{story.code}}
              </div>
              <div class="meta">
                {{#if story.endDate}}
                  {{story.stringEndDate}}
                {{/if}}
              </div>
              <div class="description">
                {{story.description}}
              </div>
            </div>
            {{#if story.haveExtra}}
              <div class="extra content">
                {{#if story.estimate}}
                  <div class="ui icon circular violet label icon">
                    {{#if (eq story.estimate "coffee")}}
                      <i class="ui {{story.estimate}} icon"></i>
                    {{else}}
                      {{story.estimate}}
                    {{/if}}
                  </div>
                {{/if}}
                {{#if story.tasks.length}}
                  <div class="ui left icon circular label">
                    {{story.tasksFinished}}
                    /
                    {{story.tasks.length}}
                  </div>
                {{/if}}
                {{#if story.tags}}
                  {{#each story.tags as |tag|}}
                    <div class="ui {{tag.color}} label labelMargin">
                      {{tag.title}}
                    </div>
                  {{/each}}
                {{/if}}
              </div>
            {{/if}}
          {{/draggable-item}}
        {{/each}}
      </div>
    {{/draggable-dropzone}}
  </div>
  {{#each model.project.stepsOrdered as |step|}}
    <div class="myStep">
      <div class="ui top attached raised tertiary segment inverted">
        <div class="ui aligned grid">
          <div class="left floated left aligned eight wide column">
            {{step.title}}
          </div>
          <div class="right floated right aligned eight wide column">
            {{#if (not-eq step.order 0)}}
              <i
                class="chevron circle left icon large"
                {{action "minusStep" model step}}
              ></i>
            {{/if}}
            {{#if (not-eq step.order model.project.stepsLengthMinusOne)}}
              <i
                class="chevron circle right icon large"
                {{action "plusStep" model step}}
              ></i>
            {{/if}}
          </div>
        </div>
      </div>
      {{#draggable-dropzone content=step dropped="addToStep" class="column"}}
        <div
          class="ui attached secondary raised segment inverted myScrollableY"
          style="height: 82.5vh !important;"
        >
          {{#each model.project.storiesOrdered as |story|}}
            {{#if (eq story.step.id step.id)}}
              {{#draggable-item
                class="ui inverted card selectable"
                activeClass="bgSelected"
                content=story
                onClick="activate"
                onDblClick="open"
              }}
                <div class="content">
                  {{#if story.developer}}
                    <img
                      class="right floated mini ui image"
                      src="/assets/images/avatars/{{story.developer.avatar}}.jpg"
                    />
                  {{else}}
                    <img
                      class="right floated mini ui image"
                      src="/assets/images/avatars/unknow.jpg"
                    />
                  {{/if}}
                  <div class="header">
                    {{story.code}}
                  </div>
                  <div class="meta">
                    {{#if story.endDate}}
                      {{story.stringEndDate}}
                    {{/if}}
                  </div>
                  <div class="description">
                    {{story.description}}
                  </div>
                </div>
                <div class="extra content">
                  {{#if story.estimate}}
                    <div class="ui left icon circular violet label left icon">
                      {{story.estimate}}
                    </div>
                  {{/if}}
                  {{#each story.tags as |tag|}}
                    <div class="ui {{tag.color}} label labelMargin">
                      {{tag.title}}
                    </div>
                  {{/each}}
                  {{#if (not-eq story.tasks.length 0)}}
                    <div class="ui left icon circular label">
                      <i class="file icon"></i>
                      {{story.ratioTasks}}
                    </div>
                  {{/if}}
                </div>
              {{/draggable-item}}
            {{/if}}
          {{/each}}
        </div>
      {{/draggable-dropzone}}
    </div>
  {{/each}}
  <div class="centered myStep">
    <div class="ui top attached tertiary segment inverted">
      <div class="ui form">
        <div class="ui input field fluid inverted">
          <Input
            type="text"
            placeholder="Step title"
            @value={{model.stepTitle}}
          />
        </div>
      </div>
    </div>
    <a
      class="ui attached placeholder segment inverted selectable nosegment"
      {{action "addStep" model}}
    >
      <div class="ui icon header">
        <i class="ui plus icon"></i>
        Add Step
      </div>
    </a>
  </div>
</div>
{{outlet}}