{{#each model.modifications as |modification|}}
  <div
    class="ui blackBG
      {{if (eq modification.operation "create") "blue" ""}}

      {{if (eq modification.operation "update") "yellow" ""}}

      {{if (eq modification.operation "delete") "red" ""}}
       segment selectable"
    {{action "openAny" modification}}
  >
    <div class="ui selectable fitted horizontal segments top attached inverted">
      <div class="ui left fitted aligned fitted basic segment inverted">
        <div class="inline">
          {{#each modification.contents as |content|}}
            <span class="{{content.classHTML}}">
              {{#if (eq content.object._internalModel.modelName "developer")}}
                {{content.object.username}}
              {{/if}}
              {{#if (eq content.object._internalModel.modelName "story")}}
                {{content.object.code}}
              {{/if}}
              {{#if (eq content.object._internalModel.modelName "project")}}
                {{content.object.name}}
              {{/if}}
              {{#if (eq content.object._internalModel.modelName "task")}}
                {{content.object.name}}
              {{/if}}
              {{#if (eq content.object._internalModel.modelName "tag")}}
                {{content.object.title}}
              {{/if}}
            </span>
            {{#if (not-eq content.text " create project ")}}
              {{#if (lt content.order modification.contentsLengthMinusOne)}}
                <span class="ui grey text">
                  ⁠
                ⁠
                  {{content.text}}
                  ⁠
                ⁠
                </span>
              {{/if}}
            {{else}}
              <span class="ui grey text">
                ⁠
                ⁠
                {{content.text}}
                ⁠
                ⁠
              </span>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/each}}
{{outlet}}