<div class="ui message attached icon">
    <i class="close icon" {{action 'backToProject' model}}></i>
    <div class="content">
        <div class="header">
            Add story
        </div>
    </div>
</div>
<div class="ui form attached fluid segment">
    <div class="ui fluid labeled input field">
        <div class="ui label">
            Code
        </div>
        <Input type="text" @value={{model.code}} />
    </div>

    <div class="ui labeled input field fluid">
        <div class="ui  label">
            Description
        </div>
        <Textarea @value={{model.description}}></Textarea>
    </div>

    <div class="field">
        <label>Developer</label>
        <select class="ui search dropdown">
            <option value="">Select Developer</option>
            {{#each model.project.developers as |developer|}}
            <option value="{{developer.id}}">{{developer.fullName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="two fields">

        <div class="field">
            <label>Tags</label>
            <select class="ui search multiple dropdown" id="addTag">
                <option value="">Select Tag</option>
                {{#each model.tags as |tag|}}
                <option value="{{tag.id}}">
                    <div class="ui {{tag.color}} empty circular label"></div> {{tag.title}}
                </option>
                {{/each}}
            </select>
        </div>
        <div class="field">
            <label>Add new tag</label>
            <div class="ui action input">
                <Input type="text" @value={{model.titleNewTag}} placeholder="Tag name..."/>
                <select class="ui dropdown" id="colorNewTag">
                    {{#each model.colors as |color|}}
                    <option value="{{color}}">
                        <div class="ui {{color}} empty circular label"></div>{{color}}
                    </option>
                    {{/each}}
                </select>
                <div class="ui button" {{action 'addNewTag' model}}>Add tag</div>
            </div>
        </div>

    </div>
</div>
<div class="ui bottom attached message">
    <button class="ui button inverted positive icon" {{action 'save' model}}><i class="check circle icon" />
        Validate</button>
    <button class="ui button inverted red icon" {{action 'backToProject' model}}><i class="icon times circle outline" />
        Cancel</button>
</div>
<div class="ui divider" id="body" />
{{outlet}}