<div class="ui very compact grid inverted maxHeight">
  <div class="row">
    <div class="four centered wide middle aligned column inverted autoWidth">
      <div class="ui inverted card">
        <div class="content">
          {{#if model.developer}}
            <img
              class="right floated mini ui image"
              src="/assets/images/avatars/{{model.developer.avatar}}.jpg"
            />
          {{else}}
            <img
              class="right floated mini ui image"
              src="/assets/images/avatars/unknow.jpg"
            />
          {{/if}}
          <div class="header">
            {{#if model.code}}
              {{model.code}}
            {{else}}
              Code
            {{/if}}
          </div>
          <div class="meta">
            {{#if model.endDate}}
              {{model.endDate}}
            {{else}}
              Due Date
            {{/if}}
          </div>
          <div class="description">
            {{#if model.description}}
              {{model.description}}
            {{else}}
              Description
            {{/if}}
          </div>
        </div>
        {{#if model.haveExtra}}
          <div class="extra content">
            {{#if model.estimate}}
              <div class="ui icon circular violet label icon">
                {{#if (eq model.isIcon true)}}
                  {{#if (eq model.estimate "coffee")}}
                    <i class="ui {{model.estimate}} icon"></i>
                  {{else}}
                    <i class="ui help icon"></i>
                  {{/if}}
                {{else}}
                  {{model.estimate}}
                {{/if}}
              </div>
            {{/if}}
            {{#if model.tasks.length}}
              <div class="ui left icon circular label">
                <i class="list icon"></i>
                {{model.tasksFinished}}
                /
                {{model.tasks.length}}
              </div>
            {{/if}}
            {{#if model.tags}}
              {{#each model.tags as |tag|}}
                <div class="ui {{tag.color}} label labelMargin">
                  {{tag.title}}
                </div>
              {{/each}}
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui form fluid segment inverted">
        <div class="two fields">
          <div class="ui field inverted">
            <label>
              Code
            </label>
            <Input placeholder="Code" type="text" @value={{model.code}} />
          </div>
          <div class="field inverted">
            <label>
              Developer
            </label>
            <select class="ui icon search dropdown inverted" id="addDeveloper">
              <i class="user icon"></i>
              <option value="">
                <img
                  class="mini ui image"
                  src="/assets/images/avatars/unknow.jpg"
                />
                Select Developer
              </option>
            </select>
          </div>
        </div>
        <div class="two fields">
          <div class="ui calendar field inverted">
            <label>
              Due Date
            </label>
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <Input
                type="text"
                placeholder="Due Date"
                @value={{model.endDate}}
              />
            </div>
          </div>
        </div>
        <div class="ui field fluid inverted">
          <label>
            Description
          </label>
          <Textarea @value={{model.description}} placeholder="Description..." />
        </div>
        <div class="two fields">
          <div class="field" id="addTagsDropdown">
            <label>
              Estimate
            </label>
            <select
              class="ui icon dropdown inverted inputBottomMargin"
              id="estimateDropdown"
            ></select>
            <label>
              Tags
            </label>
            <select
              class="ui multiple dropdown inverted inputBottomMargin"
              id="addTags"
            >
              <option value="">
                Select Tag
              </option>
              {{#each model.project.tagsOrdered as |tag|}}
                <option value="{{tag.id}}">
                  <div class="ui {{tag.color}} label">
                    {{tag.title}}
                  </div>
                </option>
              {{/each}}
            </select>
            <label>
              Add new tag
            </label>
            <div class="ui action input inverted" id="divAddTag">
              <Input
                class="ui input"
                type="text"
                @value={{model.titleNewTag}}
                placeholder="Tag name..."
              />
              <select class="ui icon dropdown inverted" id="colorNewTag">
                {{#each model.colors as |color|}}
                  <option value="{{color.name}}">
                    <div class="ui {{color.name}} label">
                      {{color.name}}
                    </div>
                  </option>
                {{/each}}
              </select>
              <div class="ui button inverted" {{action "addNewTag" model}}>
                Add tag
              </div>
            </div>
          </div>
          <div class="field">
            <label>
              Tasks
            </label>
            <div
              style="max-height: 15.6vh !important;"
              class="ui vertically divided very compact grid inverted margeAuto myScrollableY bgProjectDark"
            >
              {{#each model.tasks as |task|}}
                <div class="row hover">
                  <div class="middle aligned fifteen wide column margeAuto">
                    <div class="ui empty {{task.color}} label circular"></div>
                    <label>
                      {{task.title}}
                    </label>
                    <i
                      class="ui check selectable
                        {{if (eq task.finished true) "green"}}
                         icon"
                      {{action "finished" model task}}
                    ></i>
                  </div>
                  <div class="middle aligned one wide column margeAuto">
                    <i
                      class="delete red icon selectable"
                      {{action "deleteTask" model task}}
                    ></i>
                  </div>
                </div>
              {{/each}}
            </div>
            <div
              class="inline flex margeAuto"
              id="divAddTask"
              style="width: 100% !important;"
            >
              <div
                class="ui action fluid input inverted"
                style="width: 100% !important;"
              >
                <select class="ui compact dropdown inverted" id="colorNewTask">
                  {{#each model.colors as |color|}}
                    <option value="{{color.name}}">
                      <div class="ui empty {{color.name}} label circular"></div>
                    </option>
                  {{/each}}
                </select>
                <Input
                  style="width: auto !important; border-radius: 0;"
                  type="text"
                  @value={{model.task.title}}
                  placeholder="Task Title"
                />
                <div
                  class="ui label
                    {{if model.task.title "" "disabled"}}
                     right icon button"
                  {{action "addTask" model}}
                >
                  Add task ⁠
                  <i class="check selectable icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui two buttons">
          <div
            class="ui green
              {{if model.allFields "" "disabled"}}
               large button submit"
            {{action "save" model}}
          >
            Validate
          </div>
          <div
            class="ui red
         large button submit"
            {{action "backToProject" model}}
          >
            Cancel
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}