{{#if (eq model.project.storiesLength 0)}}
  <div class="ui center aligned header icon">
    <i class="icon folder open outline"></i>
    No story in this project
  </div>
{{else}}
  <div class="ui middle aligned grid inverted">
    {{#each model.project.storiesOrderedTable as |stories|}}
      <div class="equal width row">
        {{#each stories as |story|}}
          {{#if (not-eq story "empty")}}
            <div class="column">
              <LinkTo
                @route="project.story"
                @models={{array model.project_id story.id}}
                class="ui inverted card selectable"
              >
                <div class="content">
                  {{#if story.developer}}
                    <img
                      class="right floated mini ui image"
                      src="/assets/images/avatars/{{story.developer.avatar}}.jpg"
                    />
                  {{else}}
                    <img
                      class="right floated mini ui image"
                      src="/assets/images/avatars/unknow.jpg"
                    />
                  {{/if}}
                  <div class="header">
                    {{story.code}}
                  </div>
                  <div class="meta">
                    {{#if story.endDate}}
                      {{story.stringEndDate}}
                    {{/if}}
                  </div>
                  <div class="description">
                    {{story.description}}
                  </div>
                </div>
                {{#if story.haveExtra}}
                  <div class="extra content">
                    {{#if story.estimate}}
                      <div class="ui {{if (eq story.isIcon true) "" "left"}} icon circular violet label">
                        {{#if (eq story.isIcon true)}}
                          {{#if (eq story.estimate "coffee")}}
                            <i class="ui {{model.estimate}} icon"></i>
                          {{else}}
                            <i class="ui help icon"></i>
                          {{/if}}
                        {{else}}
                          {{story.estimate}}
                        {{/if}}
                      </div>
                    {{/if}}
                    {{#if story.tasks.length}}
                      <div class="ui left icon circular label">
                        {{story.tasksFinished}}
                        /
                        {{story.tasks.length}}
                      </div>
                    {{/if}}
                    {{#if story.tags}}
                      {{#each story.tags as |tag|}}
                        <div class="ui {{tag.color}} label labelMargin">
                          {{tag.title}}
                        </div>
                      {{/each}}
                    {{/if}}
                  </div>
                {{/if}}
              </LinkTo>
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  </div>
{{/if}}
{{outlet}}