<div
  class="ui top attached
    {{if (eq model.connected true) "" "container"}}
     borderless main menu inverted applicationMenuTop"
>
  <a class="item" {{action "goToHomeOverview" "all"}}>
    Overview
  </a>
  {{#if (eq model.connected true)}}
    <a class="item" {{action "goToHomeOverview" "myProject"}}>
      Home
    </a>
  {{/if}}
  {{#if (eq model.connected true)}}
    <div class="menu">
      <div class="ui dropdown icon item">
        Projects
        <div class="menu">
          <a class="item" {{action "goToProjects" "new"}}>
            New
          </a>
          <a class="item" {{action "goToProjects" "all"}}>
            View All
          </a>
          <a class="item" {{action "goToProjects" "myProject"}}>
            View My Projects
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <a class="item" {{action "goToProjects" "all"}}>
      Projects
    </a>
  {{/if}}
  <a class="item" {{action "goToDevelopers"}}>
    Developers
  </a>
  <div class="right menu">
    <div class="ui category search item searchMenu" id="searchAll">
      <div class="ui transparent icon input inverted">
        <input class="prompt" type="text" placeholder="Search..." />
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
    {{#if (eq model.connected true)}}
      <div class="ui dropdown icon item">
        <i class="user circle large icon"></i>
        <div class="menu">
          <h6 class="header">
            Signed in as
            <h5>
              <b>
                {{model.user.username}}
              </b>
            </h5>
          </h6>
          <div class="divider"></div>
          <div class="item">
            <i class="user circle icon"></i>
            Your profile
          </div>
          <div class="divider"></div>
          <div class="item">
            <i class="cog icon"></i>
            Settings
          </div>
          <div class="item" {{action "signOut" model}}>
            <i class="sign out alternate icon"></i>
            Sign out
          </div>
        </div>
      </div>
    {{else}}
      <div class="item">
        <div class="ui button" {{action "goToLogin"}}>
          Login
        </div>
      </div>
      <div class="item">
        <div class="ui inverted button" {{action "goToRegister"}}>
          Register
        </div>
      </div>
    {{/if}}
  </div>
</div>
<div class="ui bottom attached container inverted applicationContentTop mainMarge">
  <div class="ui very basic segment">
    {{outlet}}
    <a
      href="https://github.com/jmurphyau/ember-truth-helpers#user-content-usage"
      target="_blank"
    >
      operation egal,...dans handelbars
    </a>
  </div>
</div>