<div class="marge">
    <a href="https://github.com/jmurphyau/ember-truth-helpers#user-content-usage" target="_blank">operation egal,...
        dans handelbars</a>

    <div class="ui overlay">
        <div class="ui top attached pointing menu">
            <a class="item {{if (eq model.whereIAm "home") 'active' ''}}" {{action "goToHome" model}}>
                Home
            </a>
            <a class="item {{if (eq model.whereIAm "projects") 'active' ''}}" {{action "goToProjects" model}}>
                Projects
            </a>
            <a class="item {{if (eq model.whereIAm "developers") 'active' ''}}" {{action "goToDevelopers" model}}>
                Developers
            </a>
        </div>
    </div>

    <div class="ui bottom attached segment">
        {{outlet}}
    </div>
</div>