<div class="ui container">
    <a href="https://github.com/jmurphyau/ember-truth-helpers#user-content-usage" target="_blank">operation egal,...
        dans handelbars</a>


    <!--<div class="ui overlay">
        <div class="ui secondary menu">

            <a class="item myMenu">Menu</a>
        </div>
    </div>

    <div class="ui fluid popup bottom left transition hidden">
        <div class="ui three column relaxed divided grid">
            <div class="column">
                <h4 class="ui header"><i class="home icon"></i> Home</h4>
                <div class="ui link list">
                    <a class="item">Show</a>
                    <a class="item">Linen</a>
                    <a class="item">Cotton</a>
                    <a class="item">Viscose</a>
                </div>
            </div>
            <div class="column">
                <h4 class="ui header">Size</h4>
                <div class="ui link list">
                    <a class="item">Small</a>
                    <a class="item">Medium</a>
                    <a class="item">Large</a>
                    <a class="item">Plus Sizes</a>
                </div>
            </div>
            <div class="column">
                <h4 class="ui header">Developers</h4>
                <div class="ui link list">
                    <a class="item">Neutrals</a>
                    <a class="item">Brights</a>
                    <a class="item">Pastels</a>
                </div>
            </div>
        </div>
    </div>-->

    <div class="ui overlay">
        <div class="ui top attached pointing menu">
            <a class="item {{if (eq model.whereIAm "home") 'active' ''}}" {{action "goToHome" model}}>
                Home
            </a>
            <a class="item {{if (eq model.whereIAm "projects") 'active' ''}}" {{action "goToProjects" model}}>
                Projects
            </a>
            <a class="item {{if (eq model.whereIAm "developers") 'active' ''}}" {{action "goToDevelopers" model}}>
                Developers
            </a>
        </div>
    </div>

    <div class="ui form">
        <div class="two fields">
            <div class="field">
                <label>Start date</label>
                <div class="ui calendar" id="rangestart">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Start">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>End date</label>
                <div class="ui calendar" id="rangeend">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="End">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui bottom attached segment">
        {{outlet}}
    </div>
</div>