{{outlet}}
<div class="ui segment secondary inverted">
  <div class="ui aligned grid inverted">
    {{#each model.developersTable as |developers|}}
      <div class="center aligned equal width row">
        {{#each developers as |developer|}}
          {{#if (not-eq developer "empty")}}
            <div class="column">
              <LinkTo
                @route="developer.projects"
                @model={{developer.id}}
                class="ui inverted card selectable leftMarginAuto rightMarginAuto"
              >
                <div class="image">
                  <img src="/assets/images/avatars/{{developer.avatar}}.jpg" />
                </div>
                <div class="content">
                  <div class="header white">
                    {{developer.username}}
                  </div>
                  <div class="meta">
                    <span class="date">
                      {{developer.fname}}
                      {{developer.name}}
                      <br />
                      {{developer.email}}
                    </span>
                  </div>
                  <div class="description">
                    {{#if (not (is-empty developer.languagesString))}}
                      {{#each developer.languages as |language|}}
                        <img
                          class="ui image little"
                          src="/assets/images/languages/{{language}}.png"
                          alt="language"
                        />
                      {{/each}}
                    {{else}}
                      No favorite languages
                    {{/if}}
                  </div>
                </div>
              </LinkTo>
            </div>
          {{else}}
            <div class="column"></div>
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>