<div class="ui grid">
    <div class="four wide column">
        <div class="ui inverted card">
            <div class="image">
                <img src="/assets/images/avatars/{{model.developer.avatar}}.jpg" />
            </div>
            <div class="content">
                <div class="header white">
                    {{model.developer.username}}
                </div>
                <div class="meta">
                    <span class="date">
                        {{model.developer.fname}}
                        {{model.developer.name}}
                        <br />
                        {{model.developer.email}}
                    </span>
                </div>
                <div class="description">
                    {{#if (not (is-empty model.developer.languagesString))}}
                    {{#each model.developer.languages as |language|}}
                    <img class="ui image little" src="/assets/images/languages/{{language}}.png" alt="language" />
                    {{/each}}
                    {{else}}
                    No favorite languages
                    {{/if}}
                </div>
            </div>
            <!--     <div class="extra content"> -->
            {{#if (eq model.isMyProfil true)}}
            <button class="ui telegram button" {{action "goToEditProfilDeveloper" model}}>
                <i class="user icon"></i>
                Edit profil
            </button>
            {{else if (eq model.connected true)}}
            {{#if (eq model.canFollow true)}}
            <div class="ui telegram button bottom attached button" {{action "follow" model}}>
                <i class="users friend icon"></i>
                Follow
            </div>
            {{else}}
            <div class="ui red  button  bottom attached button" {{action "follow" model}}>
                <i class="user icon"></i>
                Unfollow
            </div>
            {{/if}}
            {{/if}}
            <!-- </div> -->
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui inverted secondary pointing menu">
            <a class="{{if (eq model.whereIam "projects") "active" }} item">
                Projects
            </a>
            <a class="{{if (eq model.whereIam "follows") "active" }} item">
                Follows
            </a>
            <a class="{{if (eq model.whereIam "follows") "active" }} item">
                Actions
            </a>
        </div>
    </div>
</div>
{{outlet}}