{{outlet}}
<div class="ui grid">
    <div class="four wide column">
       <div class="ui inverted card">
              <div class="image">
                <img src="/assets/images/avatars/{{model.developer.avatar}}.jpg"/>
              </div>
              <div class="content">
                <div class="header white">
                    {{model.developer.username}}
                </div>
                <div class="meta">
                  <span class="date">
                      {{model.developer.fname}}
                      {{model.developer.name}}
                    <br />
                      {{model.developer.email}}
                  </span>
                </div>
                <div class="description">
                  {{#if (not (is-empty model.developer.languagesString))}}
                    {{#each model.developer.languages as |languages}}
                      <img
                        class="ui image little"
                        src="/assets/images/languages/{{language}}.png"
                        alt="language"
                      />
                    {{/each}}
                  {{else}}
                    No favorite languages
                  {{/if}}
                </div>
              </div>
            </div>  
    </div>
    <div class="twelve wide column">
        <div>
            <span class="ui large white text">List des projets</span>
        </div>
        <h4 class="ui horizontal left aligned divider header">
            <i class=" align icon"></i>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                </font>
            </font>
        </h4>
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header">
                        Projet Ex4 todoList
                    </div>
                    <div class="meta">
                        Start 12/03/2020 End 21/06/2020
                    </div>
                    <div class="description">
                        Description en details du projet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla
                        ipsam facilis perferendis voluptatem amet ipsa minus a impedit! Neque fugiat non recusandae odio
                        porro tenetur voluptates nemo quibusdam quam voluptatem.
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>