<div class="ui fluid category search">
  <div class="ui icon input">
    <input class="promptDevelopers" type="text" id="searchBarDev" placeholder="Search developers...">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
{{outlet}}
<table class="ui table content inverted">
  <thead>
    <tr>
      <th>Name</th>
      <th>Firstname</th>
      <th class="right aligned">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.developers as |dev|}}
      <tr>
        <td>{{dev.name}}</td>
        <td>{{dev.fname}}</td>
        <td class="right aligned">
          <button class="ui button inverted icon primary" {{action "openEdit" model dev}}><i class="user edit icon" /></button>
          <button class="ui button inverted icon red" {{action "openDelete" model dev}}><i class="user times icon" /></button>
        </td>
      </tr>
      {{outlet dev.id }}

    {{/each}}
  </tbody>
</table>