<div class="ui segment secondary inverted">
  {{#each model.modifications as |modification|}}
    <div
      class="ui blackBG
        {{if (eq modification.operation "create") "blue" ""}}

        {{if (eq modification.operation "update") "yellow" ""}}

        {{if (eq modification.operation "delete") "red" ""}}
         segment selectable"
      {{action "openAny" model modification}}
    >
      <div class="ui fitted horizontal segments top attached inverted">
        <div class="ui left fitted aligned fitted basic segment inverted">
          <div class="inline">
            {{#each modification.contentsOrdered as |content|}}
              <span class="{{content.classHTML}}">
                {{#if (eq content.object._internalModel.modelName "developer")}}
                  {{content.object.username}}
                {{/if}}
                {{#if (eq content.object._internalModel.modelName "story")}}
                  {{content.object.code}}
                {{/if}}
                {{#if (eq content.object._internalModel.modelName "project")}}
                  {{content.object.name}}
                {{/if}}
                {{#if (eq content.object._internalModel.modelName "task")}}
                  {{content.object.name}}
                {{/if}}
                {{#if (eq content.object._internalModel.modelName "tag")}}
                  {{content.object.title}}
                {{/if}}
              </span>
              <span class="ui grey text">
                ⁠
                ⁠
                {{content.text}}
                ⁠
                ⁠
              </span>
            {{/each}}
            <span class="{{modification.classHTML}}">
              {{modification.project.name}}
            </span>
          </div>
        </div>
        <div class="ui right aligned fitted basic segment inverted">
          {{modification.stringDate}}
        </div>
      </div>
    </div>
  {{/each}}
</div>