{{outlet}}
<div class="ui segment secondary inverted">
  {{#each model as |project|}}
    <div class="ui inverted segment selectable" {{action "openProject" project}}>
      <div class="ui horizontal segments top attached inverted">
        <div class="ui left aligned basic segment inverted">
          <h2>
            {{project.name}}
          </h2>
        </div>
        <div class="ui right aligned basic segment inverted">
          <i class="stopwatch icon"></i>
          {{project.stringStartDate}}
          <i class="arrow right icon"></i>
          {{project.stringEndDate}}
        </div>
      </div>
      <div class="ui very basic segment attached inverted">
        <h5>
          {{project.description}}
        </h5>
        <div class="ui fitted horizontal segments inverted">
          <div class="ui left aligned fitted segment inverted">
            <div class="ui label">
              <i class="icon folder"></i>
              {{pluralize
                project.stories.length
                "No stories"
                "1 story"
                " stories"
              }}
            </div>
            <div class="ui label"  id="demo">
              <i class="icon users"></i>
              {{pluralize
                project.developers.length
                "No contributor"
                "1 contributor"
                " contributors"
              }}
            </div>
            <div class="ui black bottom pointing label" id="message">New in 2.7.2</div>
          </div>
        </div>
      </div>
      {{outlet project.id}}
    </div>
  {{/each}}
</div>
